<!DOCTYPE html>
<html>

<head>
    <title>Calculate Postage</title>
</head>

<body>
    <!-- redirecting to /math but Express framework will 
        redirect to domath.ejs according to the setting from line 13 of index.js-->
    <form method="GET" action="postage">
        Mail Type<input type="text" name="mail"><br>
        Weight<input type="text" name="weight"><br>
        <button type="submit">Calculate</button>
    </form>
</body>

</html>